In [1]:
import pandas as pd

In [2]:
#Q1. Pandas version
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"
)
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [4]:
# Q2. Records count
len(df)

9704

In [5]:
# Q3. Fuel types
df["fuel_type"].nunique()

2

In [6]:
# Q4. Missing values
df.isnull().any().sum()

np.int64(4)

In [7]:
# Q5. Max fuel efficiency
df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [8]:
# Q6. Median value of horsepower
# 1. Find the median value of horsepower column
median_original = df['horsepower'].median()

# 2. Calculate the most frequent value (mode) of horsepower column
most_frequent = df['horsepower'].mode()[0]  # mode() returns a Series, so we take [0]

# 3. Fill missing values with the most frequent value
df['horsepower'] = df['horsepower'].fillna(most_frequent)

# 4. Calculate the median value of horsepower again after filling
median_after_filling = df['horsepower'].median()

# Optional: Compare the before and after medians
print(f"Difference in median: {median_after_filling - median_original}")

Difference in median: 3.0

In [9]:
# Q7. Sum of weights
import numpy as np

asian_cars = df[df['origin'] == 'Asia']

selected_data = asian_cars[['vehicle_weight', 'model_year']]

first_7 = selected_data.head(7)

X = first_7.values

XTX = X.T @ X  # or np.dot(X.T, X)

XTX_inv = np.linalg.inv(XTX)

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

w = XTX_inv @ X.T @ y

result_sum = w.sum()
print(f"Sum of all elements in w: {result_sum}")

Sum of all elements in w: 0.5187709081074016